.weatherStyle {
  display: flex;
  justify-content: center;
  align-items: center;
}

.weather {
  background-color: red;
  height: 100%;
  width: 100%;
  background-size: cover;
}

.border {
  border: black;
  border-style: dashed;
}

html {
  background-color: blueviolet;
  background-size: cover;
}
